* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@font-face {
  font-family: 'Supernett CN';
  src: url('fonts/Supernettcn-Condensed.woff') format('woff');
}

@font-face {
  font-family: 'Pinto';
  src: url('fonts/pinto.woff') format('woff');
}

@font-face {
  font-family: 'Aldred';
  src: url('fonts/aldredregularAldred-webfont.woff') format('woff');
}

body {
  background: #5B5BA3;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Supernett CN', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: 'Pinto', sans-serif;
  font-weight: normal;
}

.top-section {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  position: relative;
}

.wevoted {
  width: 180px;
}

.logo-container {
  text-align: center;
  margin-bottom: 40px;
}

.logo-container img {
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  width: -180%;
  margin: 0 -40% -100px -40%;
}

.middle-section {
  padding: 33px 60px 60px 60px;
  background: #6568AD;
  border-radius: 100%/60px 60px 0 0;
  margin: 0 -60px;
}

.text-container {
  width: 600px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.text-container h3 {
  font-size: 33px;
  color: #FF95BA;
  line-height: 33px;
  margin-top: 66px;
}

.text-container p {
  font-size: 22px;
  line-height: 36px;
  margin-top: 22px;
}

.text-container a {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.text-container a:hover {
  color: #FF95BA;
  border-color: #ff95ba;
}

.copyright {
  color: #2C2C57;
  font-family: Aldred, sans-serif;
  font-size: 13px;
  margin: 50px 30px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

.comingsoon {
  width: 23%;
  max-width: 147px;
  margin-top: 1.5625vw;
}

.newsletter-signup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #ffac0f;
}

.signup-form {
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

.signup-form label {
  font-family: 'Pinto', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-right: 12px;
  line-height: 40px;
}

.signup-form input {
  border: none;
  outline: none;
  height: 40px;
  font-family: 'Supernett CN', sans-serif;
}

.signup-form input[type="button"] {
  background: #ff95ba;
  color: #fff;
  padding: 0 20px;
  font-family: 'Pinto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.signup-form input[type="button"]:hover {
  background: #6568AD;
}

.signup-form .email {
  padding: 0 12px;
  width: 100px;
}

.social-links {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

@media only screen and (min-width: 768px) {
  .logo-container img {
    margin: 0;
  }

  .product-image {
    width: 845px;
    max-width: 100%;
    margin: 0 auto -167px auto;
  }

  .middle-section {
    padding: 80px 60px;
  }

  .social-links {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
  }

  .signup-form label {
    margin-right: 24px;
  }

  .signup-form .email {
    width: 222px;
  }

  .signup-form input[type="button"] {
    margin-left: 24px;
  }

  .copyright {
    margin: 50px 20px;
  }
}